

<section class="contact" id="contact">

    <h1 class="heading"><span>contact</span> us</h1>

    <div class="row">

        <form >


            <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=village%20market&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-org.net">suicide squad 123movies</a><br>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 500px;
                    width: 600px;
                }
            </style><a href="https://www.embedgooglemap.net">google map for free</a>
            <style>
                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 600px;
                }
            </style></div></div>

        </form>


        <form id="frmFeedBack">
            <h3>get in touch</h3>


            <div class="alert alert-success" id="divAlart" style="display:none;">
                <strong id="txtAlart"></strong>
            </div>


            <input type="text" placeholder="your name" class="box" name="Name" id="txtName1">

            <input type="email" placeholder="your email" class="box" name="Email" id="txtEmail1">

            <input type="tel" placeholder="Phone Number" class="box numericOnly" name="PhoneNumber" id="txtPhoneNumber1">

            <textarea placeholder="your message" class="box" cols="30" rows="10" name="Message" id="txtMessage1"></textarea>

            <input type="button" value="send message" class="btn" id="btnSubmitFeedback">
        </form>

    </div>

</section>


<div id="divLoader" style="display:none;" class="loader">

    <img src="~/loaders/loading-23.gif" alt="Loader" style="width:20em;" />

</div>

<style>
    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
    }



    .success {
        background: #26B99A;
        color: #fff;
    }

    .danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .Header {
        font-weight: 600;
        color: #45ca9f;
        font-size: 1.1rem;
        max-width: calc(100% - 40px);
    }


    .loader {
        position: fixed;
        width: 256px;
        height: 256px;
        top: 50%;
        left: 50%;
        margin: -128px 0 0 -128px;
        z-index: 1000;
    }

    .Title {
        font-weight: 600;
        color: #45ca9f;
        font-size: 1.5rem;
        line-height: 70px;
        max-width: calc(100% - 40px);
    }
</style>


<script src="~/Scripts/jquery-3.5.1.js"></script>
<link href="~/sweetalart/sweetalert.min.css" rel="stylesheet" />
<script src="~/sweetalart/sweetalert.min.js"></script>

<script>




    $('#btnSubmitFeedback').click(function (evt) {

        if ($('#txtName1').val() == '') {
            $('#txtName1').focus();
            swal({
                position: 'top-end',
                type: "error",
                title: "Name is a required field",
                showConfirmButton: true,
            });

            return false;
        }

        if ($('#txtEmail1').val() == '') {
            $('#txtEmail1').focus();
            swal({
                position: 'top-end',
                type: "error",
                title: "Email is a required field",
                showConfirmButton: true,
            });

            return false;
        }

        if ($('#txtPhoneNumber1').val() == '') {
            $('#txtPhoneNumber1').focus();
            swal({
                position: 'top-end',
                type: "error",
                title: "Phone Number is a required field",
                showConfirmButton: true,
            });

            return false;
        }

        if ($('#txtMessage1').val() == '') {
            $('#txtMessage1').focus();
            swal({
                position: 'top-end',
                type: "error",
                title: "Message is a required field",
                showConfirmButton: true,
            });

            return false;
        }






        $("#divLoader").show();

        var data = $("#frmFeedBack").serialize();

        $.ajax({

            type: "POST",
            url: "/Home/CustomerFeedBack/",
            data: data,

            success: function (response) {

                if (response.success) {

                    $("#divLoader").hide();

                    $('#divAlart').show()

                    $('#txtAlart').text(response.responseText);

                    setTimeout(function () { location.reload(); }, 2000);

                } else {

                    swal({
                        position: 'top-end',
                        type: "error",
                        title: response.responseText,
                        showConfirmButton: true,
                        timer: 5000,
                    });

                    $("#divLoader").hide();
                }
            },

            error: function (response) {
                alert("error!");

                $("#divLoader").hide();
            }
        })

    });




    //Allow users to enter numbers only
    $(".numericOnly").bind('keypress', function (e) {
        if (e.keyCode == '9' || e.keyCode == '16') {
            return;
        }
        var code;
        if (e.keyCode) code = e.keyCode;
        else if (e.which) code = e.which;
        if (e.which == 46)
            return false;
        if (code == 8 || code == 46)
            return true;
        if (code < 48 || code > 57)
            return false;
    });

    //Disable paste
    $(".numericOnly").bind("paste", function (e) {
        e.preventDefault();
    });

    $(".numericOnly").bind('mouseenter', function (e) {
        var val = $(this).val();
        if (val != '0') {
            val = val.replace(/[^0-9]+/g, "")
            $(this).val(val);
        }
    });

</script>
