<section class="footer">
    <div class="footer-container container">
        <div class="footer-box">
            <a href="#" class="logo">I & P Auto <span>Motors</span></a>
            <div class="social">
                <a href="#"><i class="bx bxl-facebook"></i></a>
                <a href="#"><i class="bx bxl-twitter"></i></a>
                <a href="#"><i class="bx bxl-instagram"></i></a>
                <a href="#"><i class="bx bxl-youtube"></i></a>

            </div>
        </div>

        <div class="footer-box">
            <h3>Page</h3>
            <a href="#">Home</a>
            <a href="#">Cars</a>
            <a href="#">Parts</a>
            <a href="#">Sales</a>
        </div>
        <div class="footer-box">
            <h3>Legal</h3>
            <a href="#">Privacy</a>
            <a href="#">Refund Policy</a>
            <a href="#">Cookie Policy</a>
        </div>

        <div class="footer-box">
            <h3>Contact</h3>
            <p>Kenya</p>
            <p>Kenya</p>
            <p>Kenya</p>
        </div>
    </div>

</section>


<div class="copyright">
        <p>Copyright &copy;
        <script>document.write(new Date().getFullYear());</script>,Skisoft Systems</p>
    </div>



