<section class="footer" id="footer">

    <div class="box-container">

        <div class="box">
            <h3>I & P Auto Motors</h3>
            <p class="p">
                We have a great selection of Car Brands available.
                Models ranging from Hatchbacks, Sedans,
                SUV’s to Bakkies. If we don’t have it, we will try and find it!
            </p>
            <p class="p">
                We give Excellent customer service & trusted by many who purchase a car from our Showroom Floor.
            </p>

            <a href="" class="btn btn-outline-success">Read More</a>
         
            
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> vehicles </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> services </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> featured </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> reviews </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> contact </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +254729884569 </a>
            <a href="#"> <i class="fas fa-phone"></i> +254704509484 </a>
            <a href="#"> <i class="fas fa-envelope"></i> info@ilmotorsgmail.com </a>
            <a href="#">
                <i class="fas fa-map-marker-alt"></i> Limuru Road next to
                Village Market Nairobi,Kenya
            </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
        </div>

    </div>

    <div class="credit">
        <p class="copy-right">
            Copyright © 2021 <span style="color:#73D038;">I & P Auto Motors</span>.
            Website done by  Skisoft Systems
        </p>
    </div>
</section>

<style>
    .p {
        color: white;
        display: block;
        font-size: 1.4rem;
        padding: 1rem 0;
        color: #f1f1f5;
    }
</style>