


<header class="header">

    <div id="menu-btn" class="fas fa-bars"></div>

    <a href="~/Home/" class="logo"> <span>I & P</span> Auto Motors </a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#services">featured</a>
        <a href="#vehicles">Popular Vehicles</a>
        <a href="#reviews">reviews</a>
        <a href="#services">services</a>


        <a href="#contact">contact</a>
    </nav>

    <div id="login-btn">
        <button class="btn">login</button>
        <i class="far fa-user"></i>
    </div>

</header>