@model IEnumerable<CarMatt.Data.DTOs.VehicleModule.VehicleDTO>

<section class="services" id="services">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        @if (Model != null && Model.Count() > 0)
        {

            @foreach (var item in Model)
            {

                <div class="box">

                    <img src="~/images/car-1.png" alt="" style="margin-left: -1em;">
                    <h3>@item.FullName</h3>
                    <p>@item.BodyTypeName , @item.Engine</p>
                 
                    <a href="#" class="btn"> read more</a>
                </div>
            }

        }
                


    </div>

</section>