<section class="reviews" id="reviews">

    <h1 class="heading"> client's <span>review</span> </h1>

    <div class="swiper review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="~/images/pic-1.png" alt="">
                <div class="content">
                    <p>I wanted to send a along this note to you and thank you for the fantastic services you extended to me and my husband. You offer excellent services and the experience has been worth the drive. I love my new car and it is such a best drive. PS: Just so you know when going somewhere with my husband I always insist on him driving but this weekend I did not mind driving him around. Once more thank you ever so much..</p>
                    <h3>john deo</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="~/images/pic-2.png" alt="">
                <div class="content">
                    <p>I have bought a car from lisabank with the help of chisa nyathi,the guy was very friendly from the start until we make a final deal,I have also recommended him to my friends and relatives.</p>
                    <h3>john deo</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="~/images/pic-3.png" alt="">
                <div class="content">
                    <p>I'd like to thank to Lisabank team, specially to Mr Justin for excellent service. I bought the car from this dealer and Mr Justin was very helpful and guided me through all buying process. I called him before and when I arrived, the car was waiting for me ready for test drive. Thank you once again for excellent service..</p>
                    <h3>john deo</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="~/images/pic-4.png" alt="">
                <div class="content">
                    <p>I wanted to send a along this note to you and thank you for the fantastic services you extended to me and my husband. You offer excellent services and the experience has been worth the drive. I love my new car and it is such a best drive. PS: Just so you know when going somewhere with my husband I always insist on him driving but this weekend I did not mind driving him around. Once more thank you ever so much..</p>
                    <h3>john deo</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="~/images/pic-5.png" alt="">
                <div class="content">
                    <p>As a recent customer at Lisa bank Kempton Park I'd like to extend my gratitude at the excellent service I received from the entire team. Not only are they highly efficient but tremendously professional and head and shoulders above their competitors in used cars in Joburg. I sent a request on Cars.co.za Lisa bank was the first to respond,  the first to gain approval on my behalf from banks and available for me as I navigated their broad range in the weeks I dealt with them. Cheryl continuosly and patiently explained every step and kept me in the loop the entire ....</p>
                    <h3>john deo</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="~/images/pic-6.png" alt="">
                <div class="content">
                    <p>My name is Yanga Monday the 2nd of December I send my details that am looking for a car, Kuda called me with an hour time and he help me through out of my application he make things quick for me and also giving me feedback each and every step of the way the worse part even after i got the car hes still checking up on me if am still happy with the car,he change my life cause this fastive I will be mobile thanks to Kuda with the owesome service.</p>
                    <h3>john deo</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>